
.offerlist{
    margin-top:10px;
    border:1px solid lightgray;
    border-left: 7px solid gray;
    border-radius: 5px;
}

.items-list{
    border-right: 1px solid lightgray;
}

.item-images img{
    height:150px;
}

.item{
    border:1px solid lightgray;
   position: relative;
    box-shadow: -1px -1px 5px 2px rgba(0,0,0,0.1),
              5px 5px 30px 4px rgba(45,78,255,0.15);
}

.item-des{
    padding:10px;
  
}
.itemName{
    font-weight: bold;
}

.item-price{
    padding:10px;
    text-align: right;
}

.edit-item{
    position: absolute;
    bottom:0;
    left:189px;
    border-top: 1px solid lightgray;
    width: 60%;
    padding:5px;
}

.total-value{
}   

.right{
    text-align:right;
}

.placeorder-btn{
    padding:10px;
    width:100%;
    border-radius: 3px;
    height: 45px;
    color: white;
    background-color: #2cd2b1!important;
}

.coupon{
    color:#526cd0;
    font-weight: bold;
    background-color:white;
    border:1px solid #526cd0;
    border-radius: 3px;
}

.modal-content{
    margin: auto;
    width: 51%;
}


.qty{
    font-weight: bold;
}
.qty:hover{
    color:#526cd0;
    cursor: pointer;
}
.size{
    font-weight: bold;
}
.size:hover{
    color:#526cd0;
    cursor: pointer;
}

.carticon{
    margin-top: 15%;
    height:100px;
    border-radius:50px;
}


@media screen and (max-width: 480px) {
    .items{
        text-align: center;
    }
    .item-price{    
        width: 100%;
        text-align: center;
    }
    
    .edit-item{
        position:relative;
        border:0px;
        width:100%;
        text-align: center;
        left:0;
    }
}